<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="targetttt(first, second, third)">
        <style>
            .c1{
                background-color: red;
                color: yellow;
            }
            .c2{
                background-color: black;
                color: aqua;
            }
            .c3{
                background-color: grey;
                color: black;
            }
        </style>
        <div class="c1">
            <th:block th:replace="${first}"></th:block>
        </div>
        <div class="c2">
            <th:block th:replace="${second}"></th:block>
        </div>
        <div class="c3">
            <th:block th:replace="${third}"></th:block>
        </div>
    </div>
</body>
</html>